@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

.modal-content img {
    max-width: 50%;
    border-radius: 10px;
}

.member-details {
    flex: 1;
    margin-left: 20px;
    color: black;
    text-align: center;
}

.member-details h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}
.member-details p {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 300;    
}

.member-details .member-des {
    text-align: justify;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.7);
    }
}

.modal.fade-in {
    animation: modalFadeIn 0.5s forwards;
}

.modal.fade-out {
    animation: modalFadeOut 0.5s forwards;
}