*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", verdana, helvetica, arial, sans-serif;
  font-size: 16px;
  transition: all 500ms ease;
}


.full{
  background-color: white;
}

body{
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  border: 1px solid #ccc;
  box-shadow: 0px 10px 20px -1px rgba(16, 24, 47, 0.5); /* bottom box shadow */
  position: sticky;
  top: 0%;
  z-index: 2;
}

.navbar {
  /* height: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #10182F;
  color: rgb(255, 255, 255);
  /* opacity: 0.9; */
}

.company-name img {
  width: 80px;
  height: 75px;
  border-radius: 5em;
}

.search{
  display: flex;
}

.links a{
  margin: 15px;
  color: rgb(255, 255, 255);
  font-size: inherit;
  text-decoration: none;
}

.login-button,
.signup-button {
  margin-right: 20px;
  font-size: inherit;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: solid white;
}


.login-button:hover, .signup-button:hover{
  background-color: rgb(203, 203, 214, 0.633);
  color: white;
}

.menu-toggle{
  display: none;
}

.menu-toggle .hamburger{
  float: right;
}

.menu-toggle .hamburger img{
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
}


@media screen and (max-width: 768px) {
  .menu-toggle{
    display: flex;
  }
  
  .links{
    display: none;
  }
  
  .search {
    display: none;
  }

  .prev, .next {
    font-size: 16px;
    padding: 12px;
  }

  .category-section{
    flex-direction: column;
  }
}

.back{
  background-color: #39656b;
  height:100rem;
  margin-top: 0%;
padding-top: 4%;

 
}
.row {
  background-color: #eceeef;
  width: 90%;
  margin: 2em	auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  padding: 2em 2em 0.5em;
  color: rgb(6, 0, 0);
  border-radius: 5px; 
  box-shadow: 0 4px 8px 13px rgba(6, 30, 61, 0.2);
  margin-top: auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
  shadow: 0 4px 8px 13px rgba(2, 5, 8, 0.2);
}

.information-text {
  font-size: 16px;
  color solid black;
  margin-bottom: 20px;
  color: solid black;
}

.form-group {
  margin-bottom: 20px;
  
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="email"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #0c0c0c;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px 0 rgba(6, 30, 61, 0.2);
  border: solid black;

}

button {
  background-color:rgb(218, 210, 210);
  color: rgb(6, 6, 6);
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 4px 0 rgba(6, 30, 61, 0.2);
}

button:hover {
  background-color: #57828f;
}

.footer {
  margin-top: 20px;
}

.footer h5, .footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer h5 a, .footer p a {
  color: #0c0c0c;
  text-decoration: none;
}

.footer h5 a:hover, .footer p a:hover {
  text-decoration: underline;
}

.footer .information-text {
  color: rgb(11, 11, 11);
  font-size: 16px;
}

.footer .information-text a {
  color: rgb(14, 13, 13);
  text-decoration: none;
}

.footer .information-text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .row {
    padding-left: 1em;
    padding-right: 1em; }
    .row h1 {
      font-size: 1.5em !important; } }
@media screen and (min-width: 900px) {
  .row {
    width: 50%; } }
