body{
  background-color: rgb(49, 79, 93);
  color: white;
}


.header {
border: 1px solid #ccc;
box-shadow: 0px 10px 20px -1px rgba(16, 24, 47, 0.5); /* bottom box shadow */

}

.navbar {
position: sticky;
height: 120px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
background: #10182F;
color: rgb(255, 255, 255);

}

.company-name {
font-size: 2.5em;
padding-left: 10px;
}

.search{
display: flex;
}
.links a{
margin: 12px;
color: rgb(255, 255, 255);
font-size: 2.0em;
text-decoration: none;
}

.login-button,
.signup-button {
margin-right: 15px;
font-size: medium;
padding: 8px 8px;
border: none;
border-radius: 5px;
background-color: #fff;
color: #333;
cursor: pointer;
font-size: 1.2em;
border: solid white;
}

.login-button:hover{
background-color: darkblue;
color: white;
} 
.signup-button:hover{
background-color: darkblue;
color: white;
}



/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.tailor-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
}

.tailor {
  width: 150px; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50%; /* Ensures the div is displayed as a circle */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hides overflowing content (like image corners) */
}

.tailor img {
  width: 100%; /* Ensures the image fills the entire width of its container */
  height: auto; /* Allows the image to maintain its aspect ratio */
  border-radius: 50%; /* Ensures the image is displayed as a circle */
  object-fit: cover; /* Ensures the image covers the entire container, maintaining aspect ratio */
}


.tailor-details {
  margin-top: 10px;
}

.tailor-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.tailor-details p {
  font-size: 14px;
  margin: 5px 0;
}


.containerS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.card{
  width: calc(25% - 20px);
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden; /* to prevent overflow when scaling */
  transition: transform 0.3s; /* for smooth scaling transition */
}

.card img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

.card:hover {
transform: scale(1.1); /* scale up on hover */
}

.card:hover img {
transform: scale(1.0); /* scale up on hover */
}

.card p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.container {
  display:none;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #35516d;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

  .footer {
    margin-top: 15%;
    position: absolute;
    width: 100%;
    background: #10182F;
    border-radius: 6px;

  }
    
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
     padding: 30px; 

  }
  
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.0rem;
    font-weight: 400;
  }
  
  .footer-col .links {
    margin-top: 10px;
  }
  
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 8px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  
  .footer-col input {
    height: 30px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    /* padding-left: 10px; */
  }
  
  .footer-col input::placeholder {
    color: #ccc;
  }
  
  .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  
  .footer-col form button:hover {
    background: #cecccc;
  }
  
  .footer-col .icons {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    cursor: pointer;
  }
  
  .footer-col .icons i {
    color: #afb6c7;
  }
  
  .footer-col .icons i:hover  {
    color: #fff;
  }